<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem Vindo à <%= title %></p>
  </body>

  <form method="GET" action="/api/v1/cep">
    <input type="text" name="code" placeholder="CEP" required />
    <button>Consultar CEP</button>
  </form>

</html>
